@model IEnumerable<CreditCardSystem.Models.CreditCard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardCvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType.CardTypeName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.CreditCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
